.banner {
	min-height: calc(100vh - 90px);
	margin-top: 90px;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner-left {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.banner-subtitle {
	font-size: 20px;
	font-weight: 500;
}

.banner-right img {
	width: 700px;
	height: 700px;
}

.title-banner {
	line-height: 60px;
	font-weight: 400;
	font-size: 68px;
	font-family: 'Paytone One', sans-serif;
}

.title-primary {
	font-family: 'Paytone One', sans-serif;
	background: linear-gradient(125deg, #e025ce 22.81%, #4aed52 98.66%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
}

@media (max-width: 1440px) {
	.banner-right img {
		width: 600px;
		height: 600px;
	}
	.banner-subtitle {
		font-size: 18px;
	}
	.title-banner {
		font-size: 58px;
	}
}

@media (max-width: 1200px) {
	.banner-left {
		max-width: 500px;
	}

	.banner-right img {
		width: 500px;
		height: 500px;
	}
	.banner-subtitle {
		font-size: 16px;
	}
	.title-banner {
		font-size: 50px;
	}
}

@media (max-width: 992px) {
	.banner {
		flex-direction: column;
		padding: 100px 0px;
	}

	.banner-left{
		text-align: center;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 576px) {

	.banner-right img {
		width: 400px;
		height: 400px;
	}
	.banner-subtitle {
		font-size: 13px;
	}
	.title-banner {
		font-size: 45px;
	}
}

@media (max-width: 400px) {

	.banner-right img {
		width: 300px;
		height: 300px;
	}
	.banner-subtitle {
		font-size: 13px;
	}
	.title-banner {
		font-size: 40px;
	}
}

@media (max-width: 400px) {

	.banner-right img {
		width: 250px;
		height: 250px;
	}
	.banner-subtitle {
		font-size: 10px;
	}
	.title-banner {
		font-size: 30px;
	}
}
