@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
}

body {
	background-color: #10002d;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

li {
	list-style: none;
}

p {
	font-size: 20px;
	opacity: 0.7;
	font-weight: 100;
}

body::-webkit-scrollbar {
	width: 9px;
}

body::-webkit-scrollbar-track {
	background-color: #00031a;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(142deg, #bd24e6 -12.51%, #e40fac 136.14%);
}

.ctn {
	max-width: 1400px;
	margin: auto;
}

.title {
	font-weight: 400;
	font-size: 50px;
	font-family: 'Paytone One', sans-serif;
}

@media (max-width: 1200px) {
	p {
		font-size: 17px;
	}
	.title {
		font-size: 40px;
	}
}
